<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574208664558-e6gco67i9bl6fchdpcogjfqrn5idqi0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574208664558-e6gco67i9bl6fchdpcogjfqrn5idqi0o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>574208664558-sinboe3hnqohtfkm69jl6afi5hfmct36.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAQpVeV3CxGr8048-6vfN_AZuX2qzTlvI</string>
	<key>GCM_SENDER_ID</key>
	<string>574208664558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snapam</string>
	<key>PROJECT_ID</key>
	<string>snapam-3ca01</string>
	<key>STORAGE_BUCKET</key>
	<string>snapam-3ca01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574208664558:ios:d0fb2952e47e3150f3a4ff</string>
	<key>DATABASE_URL</key>
	<string>https://snapam-3ca01.firebaseio.com</string>
</dict>
</plist>