<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026557853833-huj5o1ga5nf9k9v1dkkkajh2r2b28d7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026557853833-huj5o1ga5nf9k9v1dkkkajh2r2b28d7u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026557853833-ujgdpg9oq2lt65picsf17sqjni8ck189.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA769PaTGEjAFE4gY-6vTXp2_qI5H7jRv8</string>
	<key>GCM_SENDER_ID</key>
	<string>1026557853833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snapamsell</string>
	<key>PROJECT_ID</key>
	<string>snapamsell</string>
	<key>STORAGE_BUCKET</key>
	<string>snapamsell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026557853833:ios:3614aea77eb3e1829c0658</string>
	<key>DATABASE_URL</key>
	<string>https://snapamsell.firebaseio.com</string>
</dict>
</plist>